/* Estilos globais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    background-color: #800080;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Menu */
nav {
    background-color: #000000;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Conteúdo Principal */
main {
    padding: 20px;
}

/* Rodapé */
footer {
    background-color: #800080;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos adicionais podem ser inseridos aqui, se necessário */

.bandeira{
    width: 30% ; 
   
}